* {
  padding: 0;
  margin: 0;
  color: #333;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  width: 200px;
  height: 650px;
  background: #ddd;
  float: left;
}
header .logo {
  width: 200px;
  height: 50px;
  background: burlywood;
}
header nav {
  width: 180px;
  margin: 30px 10px;
  background: #bebebe;
}
header nav .gnb {
  width: 100%;
}
header nav .gnb > li {
  width: 100%;
}
header nav .gnb > li > a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
}
header nav .gnb > li > a:hover {
  background: #333;
  color: #fff;
}
header nav .gnb > li > .sub {
  width: 100%;
  display: none;
}
header nav .gnb > li > .sub > li {
  width: 100%;
}
header nav .gnb > li > .sub > li > a {
  display: block;
  width: 100%;
  height: 30px;
  line-height: 30px;
  background: #eee;
}
header nav .gnb > li > .sub > li > a:hover {
  background: #dac6f1;
}
.contents {
  width: 800px;
  height: 650px;
  background: #bdbdbd;
  float: left;
}
.contents ul.slide {
  width: 100%;
  height: 350px;
  background: #eee;
  text-indent: -9999px;
  position: relative;
}
.contents ul.slide li {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
}
ul.slide li:nth-child(1) {
  background: pink;
}
ul.slide li:nth-child(2) {
  background: purple;
}
ul.slide li:nth-child(3) {
  background: coral;
}
.contents .con h2 {
  font-size: 20px;
  border-radius: 10px 0 10px 0;
  width: 100px;
  background: #dac6f1;
  text-align: center;
  margin: 5px 0 0 5px;
}

.contents .con1 {
  width: 300px;
  height: 200px;
  float: left;
  position: relative;
}
.contents .con h2.h100 {
  position: absolute;
  top: 0;
  left: 101px;
}
.contents .con1 h2:hover {
  background: purple;
  color: #fff;
  cursor: pointer;
}
.contents .con1 .notice {
  margin: 5px;
  width: 290px;
}
.contents .con1 .notice li {
  position: relative;
}
.contents .con1 .notice li a {
  display: block;
}
.contents .con1 .notice li a:hover {
  background: #dac6f1;
}
.contents .con1 .notice li .date {
  position: absolute;
  top: 0;
  right: 0;
}
.contents .con2 {
  width: 250px;
  height: 200px;
  background: orange;
  float: left;
}
.contents .con3 {
  width: 250px;
  height: 200px;
  background: cornflowerblue;
  float: left;
}
footer {
  width: 800px;
  height: 100px;
  background: #ddd;
}
