* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
  vertical-align: top;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  width: 200px;
  height: 650px;
  background: #aaa;
  float: left;
}
header h1 {
  width: 200px;
  height: 40px;
  padding: 10px 0;
}
nav {
  width: 180px;
  padding: 10px;
  text-align: center;
}
nav ul.gnb {
  width: 100%;
}
nav ul.gnb > li {
  width: 100%;
}
nav ul.gnb > li > a {
  display: block;
  width: 100%;
  height: 40px;
  background: #222;
  line-height: 40px;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
nav ul.gnb > li > a:hover {
  background: cornsilk;
  color: #333;
}
nav ul.gnb > li > ul.sub {
  width: 100%;
  display: none;
}
nav ul.gnb > li > ul.sub > li {
  width: 100%;
}
nav ul.gnb > li > ul.sub > li > a:hover {
  background: cornsilk;
  color: #333;
}
nav ul.gnb > li > ul.sub > li > a {
  display: block;
  width: 100%;
  height: 30px;
  background: #888;
  line-height: 30px;
  color: #fff;
}
.contents {
  width: 800px;
  height: 650px;
  background: #bbb;
  float: left;
}
.contents ul.slide {
  width: 100%;
  height: 350px;
  background: #ccc;
  position: relative;
}
.contents ul.slide li {
  width: 100%;
  height: 350px;
  position: absolute;
  top: 0;
  left: 0;
}
.contents ul.slide li a {
  width: 100%;
  height: 100%;
  display: block;
  text-indent: -9999px;
}
.contents ul.slide li:nth-child(1) {
  width: 800px;
  height: 350px;
  background: coral;
}
.contents ul.slide li:nth-child(2) {
  width: 800px;
  height: 350px;
  background: purple;
}
.contents ul.slide li:nth-child(3) {
  width: 800px;
  height: 350px;
  background: lightpink;
}
.con {
  width: 100%;
  height: 200px;
  background: #ddd;
}
.con h2 {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-style: normal;
  font-size: 18px;
  border-radius: 10px 10px 0 0;
  background: #333;
  color: #fff;
  text-align: center;
  cursor: pointer;
}
.con .con1 {
  width: 450px;
  height: 200px;
  float: left;
  position: relative;
}
.con .con1 h2 {
  position: absolute;
  left: 0;
  top: 0;
}
.con .con1 h2.on {
  background: red;
}
.con .con1 .h100 {
  left: 101px;
}
.con .con1 ul {
  display: none;
}
.con .con1 ul.on {
  display: block;
}
.con .con1 ul.notice {
  font-size: 13px;
  padding: 30px 20px 0;
  line-height: 28px;
}
.con .con1 ul.notice li {
  position: relative;
}
.con .con1 ul.notice li .day {
  position: absolute;
  top: 0;
  right: 0;
}
.con .con1 ul.gal {
  padding-top: 40px;
}
.con .con1 ul.gal li {
  float: left;
  margin-left: 20px;
}
.con .con1 ul.gal li:nth-child(1) {
  width: 120px;
  height: 120px;
  background: pink;
}
.con .con1 ul.gal li:nth-child(2) {
  width: 120px;
  height: 120px;
  background: orange;
}
.con .con1 ul.gal li:nth-child(3) {
  width: 120px;
  height: 120px;
  background: crimson;
}
.con .con2 {
  width: 200px;
  height: 200px;
  float: left;
  background: cornflowerblue;
}
.con .con2 h2 {
  text-indent: -9999px;
  display: none;
}
.con .con3 {
  width: 150px;
  height: 200px;
  float: left;
}
.con .con3 ul li {
  width: 100%;
  height: 80px;
  background: red;
  line-height: 80px;
  border: 1px solid #fff;
  text-align: center;
  color: #fff;
  font-size: 22px;
}
.con .con3 ul li a {
}
footer {
  width: 100%;
  height: 100px;
  background: #333;
}
