* {
  padding: 0;
  margin: 0;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  border: 0;
  vertical-align: top;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
header {
  width: 200px;
  height: 650px;
  background: #aaa;
  float: left;
}
header h1 {
  width: 200px;
  height: 40px;
  padding: 10px 0;
}
nav {
  width: 180px;
  padding: 10px;
  text-align: center;
}
nav ul.gnb {
  width: 100%;
}
nav ul.gnb > li {
  width: 100%;
}
nav ul.gnb > li > a {
  display: block;
  width: 100%;
  height: 40px;
  background: #222;
  line-height: 40px;
  color: #fff;
  box-sizing: border-box;
  border: 1px solid #ccc;
}
nav ul.gnb > li > a:hover {
  background: cornsilk;
  color: #333;
}
nav ul.gnb > li > ul.sub {
  width: 100%;
  display: none;
}
nav ul.gnb > li > ul.sub > li {
  width: 100%;
}
nav ul.gnb > li > ul.sub > li > a:hover {
  background: cornsilk;
  color: #333;
}
nav ul.gnb > li > ul.sub > li > a {
  display: block;
  width: 100%;
  height: 30px;
  background: #888;
  line-height: 30px;
  color: #fff;
}
.contents {
  width: 800px;
  height: 650px;
  background: #bbb;
  float: left;
}
.contents ul.slide {
  width: 100%;
  height: 350px;
  background: #ccc;
}
.contents ul.slide li {
}
.contents ul.slide li a {
}
.con {
  width: 100%;
  height: 200px;
  background: #ddd;
}
footer {
  width: 100%;
  height: 100px;
  background: #333;
}
