* {
  padding: 0;
  margin: 0;
  color: #333;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
  display: block;
  width: 120px;
}
body {
  width: 1200px;
  margin: 0 auto;
  position: relative;
}
/* modal */
.modal {
  width: 400px;
  height: 400px;
  background: #eee;
  position: absolute;
  top: 200px;
  left: 400px;
  display: none;
}
.modal h4 {
  width: 50px;
  height: 50px;
  border: 1px solid #333;
  line-height: 50px;
  text-align: center;
  margin-left: auto;
  cursor: pointer;
}
.modal p {
  margin-top: 50px;
  line-height: 30px;
  text-align: center;
}
/* header */
header {
  width: 1200px;
  height: 100px;
  border: 1px solid #333;
  border-top: none;
  position: relative;
}
header h1 {
  width: 220px;
  height: 100px;
  text-align: center;
  line-height: 100px;
  float: left;
}
header nav {
  width: 700px;
  height: 50px;
  background: lightcyan;
  position: absolute;
  top: 30px;
  right: 30px;
}
header .gnb {
  width: 700px;
  height: 50px;
  background: lightskyblue;
}
header .gnb > li {
  float: left;
  height: 50px;
  background: lightslategrey;
  width: 25%;
  line-height: 50px;
  text-align: center;
}
header .gnb > li:hover {
  background: rgb(165, 193, 221);
}
header .gnb > li a {
  display: block;
}
header .sub {
  display: none;
}
header .sub li {
  background: rgb(190, 213, 235);
}
header .sub li:hover {
  background: rgb(228, 239, 250);
}
/* slide */
.slide {
  width: 1200px;
  height: 300px;
  border: 1px solid #333;
  border-top: none;
  position: relative;
}
.slide img {
  width: 1200px;
  height: 300px;
  position: absolute;
  top: 0;
  left: 0;
}
/* contents */
.contents {
  width: 1200px;
  height: 200px;
  border: 1px solid #333;
  border-top: none;
  display: flex;
}
.contents section {
  width: 400px;
  box-sizing: border-box;
  border-right: 1px solid #333;
}
.contents section:last-child {
  border-right: none;
}
.contents section h3 {
  width: 120px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  background: lightslategrey;
}
.contents section .notice {
  margin: 10px;
}
.contents section .notice li {
  height: 30px;
  line-height: 30px;
  border-bottom: 1px solid #333;
}
.contents section .notice li:hover {
  font-weight: bold;
}
.contents section .notice li a {
  display: block;
}
.contents section .gallery {
  display: flex;
  margin-top: 20px;
}
.contents section .gallery li {
  margin-right: 5px;
  margin-left: 6px;
}
.contents section .banner img {
  width: 400px;
}
/* footer */
footer {
  width: 1200px;
  height: 100px;
  border: 1px solid #333;
  border-top: none;
  position: relative;
}
footer h1 {
  width: 220px;
  height: 100px;
  text-align: center;
  line-height: 100px;
}
footer .copyright {
  width: 760px;
  height: 100px;
  border-left: 1px solid #333;
  float: left;
  text-align: center;
  line-height: 100px;
  position: absolute;
  top: 0;
  left: 220px;
}
footer .sns {
  width: 220px;
  height: 100px;
  position: absolute;
  top: 0;
  right: 0;
  border-left: 1px solid #333;
}
footer .sns select {
  margin-top: 45px;
  margin-left: 35px;
}
