* {
    padding:0; margin:0;
    color:#333;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color:inherit;
    display:block;
}
.clearfix::after {
    content: "";
    display:table;
    clear:both;
}
img {
    vertical-align: top;
}
.container {
    width:1000px;
    height:650px;
}
.modal {
    display:none;
}
header {
    width:200px;
    height:650px;
    background:#ddd;
    float:left;
    position:relative;
}
header .logo {
    width:180px;
    height:40px;
    background:pink;
    margin:0 10px;
}
nav .gnb {
    width:180px;
    height:200px;
    background:olive;
    margin:0 10px;
    margin-top:30px;
}
nav .gnb > li {
    height:50px;
    line-height:50px;
    text-align:center;
}
nav .gnb > li a:hover {
    color:#fff;
}
nav ul.gnb > li ul.sub {
    width:180px;
    height:250px;
    background:orange;
    position:absolute;
    left:180px;
    top:70px;
    display:none;
    z-index:99;
}
.contents {
    width:800px;
    background:lightcyan;
    float:left;
}
.contents ul.slide {
    width:800px;
    height:350px;
    background:lightgreen;
    position:relative;
    overflow: hidden;
}
.contents ul.slide li {
    position:absolute;
    top:0;
    left:0;
}
.contents .con {
    width:800px;
    height:200px;
    background:lightseagreen;
    float:left;
}
.contents .con .notice {
    width:300px;
    height:200px;
    background: mediumslateblue;
    float:left;
}
.contents .con .gallery {
    width:250px;
    height:200px;
    background: mistyrose;
    float:left;
}
.contents .con .baro {
    width:250px;
    height:200px;
    background: olive;
    float:left;
}
.container footer {
    width:800px;
    height:100px;
    background:lightslategrey;
    float:left;
}