* {
  padding: 0;
  margin: 0;
  color: #333;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
img {
  vertical-align: top;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.container {
  width: 1200px;
  margin: 0 auto;
  height: 700px;
  background: #ddd;
  position:relative;
}
.container .modal {
  width:350px;
  height:350px;
  border:1px solid #000;
  background:#fff;
  position:relative;
  position:absolute;
  top:300px;
  left:550px;
  z-index: 999;
  display:none;
}
.container .modal button {
  position:absolute;
  bottom:20px;
  left:160px;
}
.container .modal p {
  text-align: center;
}
header {
  width: 1200px;
  height: 100px;
  background: #ddd;
  position: relative;
}
.logo {
  width: 200px;
  height: 100px;
  background: lightpink;
}
nav {
  width: 800px;
  height: 40px;
  background: lightsalmon;
  position: absolute;
  top: 40px;
  right: 20px;
}
nav .gnb {
  width: 800px;
  display: flex;
}
nav .gnb > li {
  width: 200px;
  text-align: center;
  height: 40px;
  line-height: 40px;
}
nav .gnb > li > a {
  display: block;
}
nav .gnb > li > a:hover {
  background: crimson;
  color: #fff;
}
nav .gnb > li ul.sub {
  display: none;
  position:relative;
  z-index:99;
}
nav .gnb > li ul.sub > li {
  background: darkkhaki;
}

nav .gnb > li ul.sub > li > a {
  display: block;
}
nav .gnb > li ul.sub > li > a:hover {
  background: darkolivegreen;
  color: #fff;
}
.contents ul.slide {
  width: 100%;
  height: 300px;
  background: lavender;
  position:relative;
  overflow: hidden;
}
.contents ul.slide li {
  position:absolute;
  top:0;
  left:0;
}
.contents .con {
  width: 100%;
  height: 200px;
  background: #bdbdbd;
  position:relative;
}
.contents .con h2 {
  font-size:18px;
  border:1px solid rebeccapurple;
  width:100px;
  margin:5px;
  padding:6px;
  box-sizing: border-box;
  text-align:center;
}
.contents .con .h100 {
  position:absolute;
  top:0; left:107px;
}
.contents .con .notice_gal {
  width:400px;
  height:200px;
  background:plum;
  float:left;
}
.contents .con .notice_gal h2 {
  cursor: pointer;
}
.contents .con .notice_gal h2:hover {
  background:rebeccapurple;
  color:#fff;
}
.contents .con .notice_gal .notice {
  margin-left:5px;
  margin-right:5px;
  position:relative;
}
.contents .con .notice_gal .notice li a {
  display:block;
}
.contents .con .notice_gal .notice li a:hover {
  text-decoration:underline;
  font-weight:bold;
}
.contents .con .notice_gal .notice .date {
  position:absolute;
  right:0;
}
.contents .con .notice_gal .gal {
  position:absolute;
  top:60px;
  display:none;
}
.contents .con .notice_gal .gal li {
  width:120px; height:120px;
  float:left;
  margin-left:10px;
}
.contents .con .banner {
  width:400px;
  height:200px;
  background:indianred;
  float:left;
}
.contents .con .baro {
  width:400px;
  height:200px;
  background:navajowhite;
  float:left;
}
.contents .con .gogo li {
  text-align:center;
  width:250px;
  margin:5px auto;
  padding:20px 0;
  border:1px solid #000;
  box-sizing: border-box;
}
.contents .con .gogo li a {
  display:block;
}
.contents .con .gogo li a:hover {
  font-weight:bold;
}
footer {
  width: 100%;
  height: 100px;
  background: #ededed;
}
footer .logo {
  float:left;
}
footer .copyright {
  width:800px; height:100px;
  background:rosybrown;
  float:left;
}
footer .sns {
  width:200px;
  height:100px;
  background:skyblue;
  float:left;
}
